@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100&display=swap');



/* Dans ce cas, le code utilise la fonction @layer base pour définir une "couche" de styles de base.
 La notion de couches dans Sass permet d'organiser et de regrouper les styles en fonction de leur objectif,
  ce qui peut rendre le code plus lisible et plus modulaire. */
@layer base {
    html{
    font-family :inter, system-ui, sans-serif;
    background-color:black;
}
}
a:hover{
  /* @apply est une fonctionnalité des préprocesseurs CSS tels que Sass,
   permettant d'appliquer un ensemble de propriétés CSS définies dans une classe à un autre sélecteur CSS,
    facilitant ainsi la réutilisation et la modularité des styles. */
  @apply text-primary;
}
.animate,a,a:hover{
/* regler la transition des boutons, les 4 premieres instructions sont pour le muti-plateformes  */
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
